header .game-controls button, header label select {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
}

.notification, header .game-controls button, header label select {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  min-height: 23vh;
  width: 100%;
}
header label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2rem;
}
header label select {
  height: 3rem;
  -webkit-appearance: none;
  margin-left: auto;
  width: 75%;
  text-indent: 1rem;
  font-size: 20px;
}
header label select:focus {
  border: none;
  background: gainsboro;
  outline: none;
}
header label select:hover {
  cursor: pointer;
}
header .game-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  header .game-controls {
    flex-direction: row;
  }
}
header .game-controls button {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  margin: 0.25rem;
  cursor: pointer;
  height: 5rem;
  border-radius: 4px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
header .game-controls button:hover {
  border-color: #40a9ff;
  font-weight: bold;
  color: #40a9ff;
}
.notification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 20px;
  padding: 2rem;
  position: fixed;
  top: -6rem;
  width: 100%;
  border-radius: 0.25rem;
  width: 100%;
}

body #app .notification__open {
  top: -0.25rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  width: 100%;
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  flex-wrap: wrap;
  width: 100%;
}
.main #score {
  margin: 0;
  padding: 2rem 0 0 0;
}
.main section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main .hole {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
  max-width: 250px;
  border: 0.25rem solid saddlebrown;
  margin: 0.25rem;
  border-radius: 50%;
  overflow: hidden;
  background: saddlebrown;
}
@media screen and (min-width: 1024px) {
  .main .hole {
    margin: 1rem;
  }
}
.main .hole img {
  width: 120px;
  position: relative;
  display: flex;
  transition: cubic-bezier(0, 1.76, 0.63, 1.97);
}
.main .hole img:hover {
  cursor: pointer;
  flex-grow: 0.2;
}
@media screen and (min-width: 1024px) {
  .main .hole img {
    width: 140px;
  }
}
.main .hole .hide {
  top: 10rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: auto;
}