header {
  @include flex-box-center(column);
  margin-top: $global-spacer;
  flex-wrap: wrap;
  min-height: 23vh;
  width: 100%;
  // difficulty-level selector
  label {
    @include flex-box-center(row);
    width: 100%;
    text-transform: uppercase;
    font-size: $regular-font;
    font-weight: bold;
    margin-bottom: $global-spacer;
    select {
      @extend %light-box-shadow;
      @extend %background-styles;
      height: 3rem;
      -webkit-appearance: none;
      margin-left: auto;
      width: 75%;
      text-indent: 1rem;
      font-size: $regular-font;
      &:focus {
        border: none;
        background: gainsboro;
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .game-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include bp($desktop) {
      flex-direction: row;
    }
    button {
      @extend %light-box-shadow;
      @extend %background-styles;
      @include smoothTransition(all, 0.3s);
      width: 100%;
      margin: $global-spacer / 8;
      cursor: pointer;
      height: 5rem;
      border-radius: 4px;
      font-size: $regular-font;
      text-transform: uppercase;
      font-weight: normal;
      &:hover {
        border-color: #40a9ff;
        font-weight: bold;
        color: #40a9ff;
      }
    }
    .start {
      // background: green;
    }
    .reset {
      // background: yellow;
    }
    .stop {
      // background: red;
    }
  }
}
  