// container for game 
.main {
  @include flex-box-center(column);
  min-height: 65vh;
  flex-wrap: wrap;
  width: 100%;
  #score {
    margin: 0;
    padding: $global-spacer 0 0 0;
  }
  section {
    @include flex-box-center(row);
    width: 100%;
  }
  .hole {
    @include flex-box-center(row);
    width: 33%;
    max-width: 250px;
    border: 0.25rem solid saddlebrown;
    margin: $global-spacer / 8;
    border-radius: 50%;
    overflow: hidden;
    background: saddlebrown;
    @include bp($desktop) {
      margin: $global-spacer / 2;
    }
    img {
      @include smoothTransition(all, 0.3s);
      width: 120px;
      position: relative;
      display: flex;
      &:hover {
        cursor: pointer;
      }
      @include bp($desktop) {
        width: 140px;
      }
    }
    .hide {
      top: 10rem;
    }
  }
}