.notification {
  @include flex-box-center(row);
  @extend %background-styles;
  @include smoothTransition(opacity, .5s);
  font-size: $regular-font;
  padding: $global-spacer;
  position: fixed;
  background: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
  border-radius: .25rem;
  opacity: 0;
  width: 75%;
  top: 50vh;
  @include bp($desktop) {
    top: -6rem;
    opacity: 1;
    width: 100%;
    @include smoothTransition(top, .1s);
  }
}

body .notification__open {
  opacity: 1;
  @include bp($desktop) {
    top: 0vh;
  }
}