.main {
  @include flex-box-center(column);
  min-height: 65vh;
  margin-top: $global-spacer;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

  label {
    @include flex-box-center(row);
    width: 60%;
    text-transform: uppercase;
    font-size: $regular-font;
    font-weight: bold;
    select {
      @extend %light-box-shadow;
      height: 3rem;
      -webkit-appearance: none;
      background: white;
      border-color: $border-color;
      margin-left: auto;
      width: 80%;
      text-indent: 1rem;
      color: $text-color;
      font-size: $regular-font;
      &:focus {
        border: none;
        background: gainsboro;
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

footer {
  @include flex-box-center(column);
  min-height: 10vh;
  padding: $global-spacer;
  width: 100%;
  margin: 0;
  font-size: $regular-font;
  text-transform: uppercase;
}