.moles {
  @include flex-box-center(row);
  flex-wrap: wrap;
  width: 100%;
  section {
    @include flex-box-center(row);
  }
  .hole {
    @include flex-box-center(row);
    width: 33%;
    max-width: 250px;
    border: 0.25rem solid saddlebrown;
    margin: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background: saddlebrown;
    img {
      width: 140px;
      position: relative;
      transition: cubic-bezier(0,1.76,.63,1.97);
    }
    .hide {
      top: 10rem;
    }
  }
}