%light-box-shadow {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
}

%background-styles {
  color: $text-color;
  background-color: #fff;
  border: 1px solid $border-color;
}