@import './_vars';
@import './_mixins';
@import './_selectors';
@import './_header';
@import './_footer';
@import './_main';

html,
body {
  padding: 0;
  margin: 0;
}

#app {
  @include flex-box-center(column);
  width: 85%;
  margin: auto;
}
